<form method="POST" action="">
  <div class="mt-4">
    <label for="exampleInputEmail1">Search</label>
    <input class="form-control" name="q" placeholder="Enter key">
  </div>
  <div class="mt-4">
    <label for="gender-input">Gender</label>
    <select name="gender" class="form-control">
      <option value="">--Chon gioi tinh--</option>
      <option value="male">Nam</option>
      <option value="female">Nu</option>
    </select>
  </div>
  
  <br>
  <button type="submit" class="btn btn-primary">Search</button>
</form>